<!DOCTYPE html>
<html>
<head>
</head>
	<title>Login</title>
	 <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
	<h1>.chat</h1>
	<h3>Login</h3>

	<p id="message"></p>

	<section>
		<form method="POST">
			<label for="userName">User name</label>
			<input id="userName" name="userName" type="text" class="required">

			<label for="password">Password</label>
			<input id="password" name="password" type="password" class="required">
			<input type="submit">
		</form>
	</section>


	<script type="text/javascript">
		$("form").on("submit", function(event){
			event.preventDefault();
			var user = {};
			user.userName = document.getElementById("userName").value;
			user.password = document.getElementById("password").value;
			
			

			$.ajax({
				url: "/user/login",
				contentType: "application/json; charset=utf-8",
				dataType: "json",
				async: "false",
				data: JSON.stringify(user),
				method: "POST",
				success: function(result, status, error){
					document.getElementById("message").innerHTML = result.message;
					console.log("ajax success");
					setTimeout(function(){
						window.location.href = "/view/chat";
					}, 800);
					
				},
				error: function(result, status, error){
					//document.getElementById("message").innerHTML = result;
					console.log(result);
					console.log(error);
					console.log(status);
				}
			});	
		});

	</script>

</body>
</html>